@tailwind base;
@tailwind components;
@tailwind utilities;

.cls-1 {
	fill: #8bd0f7;
}
.cls-2 {
	opacity: 0.2;
}
.cls-3 {
	fill: #fff;
}
.cls-4 {
	fill: #3f456b;
}
.cls-5 {
	fill: #f5f6f7;
}
.cls-6 {
	opacity: 0.15;
}
.cls-7 {
	opacity: 0.7;
}
